.bg {
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), linear-gradient(rgb(248, 248, 248), rgb(248, 248, 248));
    background-position: 0px 0px, 0px 50%;
    background-position-x: 0px, 0px;
    background-position-y: 0px, 50%;
    background-size: 100% 50%, 100%, 50%;
}
.mockup {
    background: url('../../../../public/assets/images/event.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}